<div class="container-flex">
	<div class="container-joueur">
		<div class="col title_col">Joueur 1</div>
			<div class="row">
				<div class="col col-10 col-center">
					<button class="button button-dark">
					+
					</button>
				</div>
				<div class="col col-offset-10 col-25 col-center">
					<input type="text" placeholder="Point de Vie">
				</div>
				<div class="col col-10 col-offset-33 col-center">
					<button class="button button-dark">
					-
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col col-75 col_text_size">Marqueurs Poison :</div>
			  	<div class="col col-25">
			  		<select>
			  			<option>0</option>
			  			<option>1</option>
			  			<option>2</option>
			  			<option>3</option>
			  			<option>4</option>
			  			<option>5</option>
			  			<option>6</option>
			  			<option>7</option>
			  			<option>8</option>
			  			<option>9</option>
			  			<option>10</option>
			  		  
			  		</select>
			  	</div>
			</div>
	</div>
	<div class="container-jo">
		<div class="col title_col">Joueur 2</div>
			<div class="row">
				<div class="col col-10 col-center">
					<button class="button button-dark">
					+
					</button>
				</div>
				<div class="col col-offset-10 col-25 col-center">
					<input type="text" placeholder="Point de Vie">
				</div>
				<div class="col col-10 col-offset-33 col-center">
					<button class="button button-dark">
					-
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col col-75 col_text_size">Marqueurs Poison :</div>
			  	<div class="col col-25">
			  		<select>
			  			<option>0</option>
			  			<option>1</option>
			  			<option>2</option>
			  			<option>3</option>
			  			<option>4</option>
			  			<option>5</option>
			  			<option>6</option>
			  			<option>7</option>
			  			<option>8</option>
			  			<option>9</option>
			  			<option>10</option>
			  		  
			  		</select>
			  	</div>
			</div>
	</div>
</div>